body {
		font-family: 'roboto', sans-serif;
		line-height: 1.55em;
		background: rgb(247,247,247);
}

img { max-width: 100%; }

h2 {
	font-size: 1.2em;
	margin: 1.55em 0 .775em 0;
}

p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: .775em;
}

a {
	border-bottom: 1px solid #b4e7f8;  
	box-shadow: inset 0 -4px 0 #b4e7f8;
	color: inherit;
	text-decoration: none;
	transition: background .15s;
}

a:hover {
	background: #b4e7f8;
}

ul {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
		/*font-size: 1.3em;*/
}

.flex-container {
	display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		max-width: 720px;
		/*margin: 1.45em 3em 0 3em;*/
		margin: 3em auto 0 auto;
		background: rgb(255,255,255);
		padding: 0 2em 0 2.25em;
		border: 1px solid rgb(240,240,240);
}

.flex-container * {
	/*outline: 1px solid grey;*/
}

.content {
	-webkit-flex: 1;
	flex: 1;
	flex-shrink: 0;
	-webkit-flex-basis: auto; /* Если элементы не переносятся на новые
						строки, можно поставить flex-basis на ~200px */
	flex-basis: auto;
	width: 100%;
}

.portfolio {
	-webkit-flex: 1;
	flex: 1;
	flex-shrink: 0;
	flex-basis: auto;
	width: 100%;
}

.left {
	width: 41%;
}