body {
		font-family: 'roboto', sans-serif;
		line-height: 1.55em;
}

img { max-width: 100%; }

h2 {
	font-size: 1.2em;
	margin: 1.55em 0 .775em 0;
}

p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: .775em;
}

ul {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
		/*font-size: 1.3em;*/
}

.flex-container {
	display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		max-width: 100%;
		margin: 1.45em 3em 0 3em;
}

.flex-container * {
	/*outline: 1px solid grey;*/
}

.content {
	-webkit-flex: 1;
	flex: 1;
	flex-shrink: 0;
	-webkit-flex-basis: auto; /* Если элементы не переносятся на новые
													строки, можно поставить flex-basis на ~200px */
	flex-basis: auto;
	/*width: 100%;*/
}

.portfolio {
	-webkit-flex: 5;
	flex: 5;
	flex-shrink: 0;
	flex-basis: auto;
	/*width: 100%;*/
}